<phpunit bootstrap="./bootstrap.php" colors="true">
    
    <testsuite name="Diggin_Uri_HttpCrawlableHash Test Suite">
     <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
